@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;
      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --primary: 262.1 83.3% 57.8%;
      --primary-foreground: 210 20% 98%;
      --secondary: 299 16% 83%;
      --secondary-foreground: 299 16% 23%;
      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;
      --ring: 262.1 83.3% 57.8%;
      --radius: 0.5rem;
      --success: 100 93% 44%;
      --success-foreground: 100 93% 4%;
    }

    .dark {
      --background: 0 0% 6.27%;
      --foreground: 210 20% 98%;
      --muted: 0 0% 23.92%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --popover: 0 0% 6.27%;
      --popover-foreground: 210 20% 98%;
      --card: 0 0% 6.27%;
      --card-foreground: 210 20% 98%;
      --border: 215 0% 23.85%;
      --input: 0 0% 23.92%;
      --primary: 263.4 70% 50.4%;
      --primary-foreground: 210 0% 100%;
      --secondary: 299 14% 17%;
      --secondary-foreground: 299 14% 77%;
      --accent: 0 0% 23.92%;
      --accent-foreground: 210 20% 98%;
      --destructive: 0 100% 57.24%;
      --destructive-foreground: 210 20% 98%;
      --ring: 263.4 70% 50.4%;
      --success: 94 96% 25%;
      --success-foreground: 0 0% 100%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
